<footer class="footer">
  <div class="columnaCentral">
    <div class="footer__ball">
      <a href="#hero">
        <img
          class="footer__ball--arrow"
          src="./assets/images/ico-arrow.svg"
          alt="Flecha para volver a inicio"
        />
      </a>
    </div>
    <div class="footerContent">
      <nav class="footerContent__menu">
        <ul>
          <li><a class="tag__footer" href="https://adalab.es/" target="_blank">Articles</a></li>
          <li><a class="tag__footer" href="https://adalab.es/" target="_blank">Books</a></li>
          <li><a class="tag__footer" href="https://adalab.es/" target="_blank">Events</a></li>
          <li><a class="tag__footer" href="https://adalab.es/" target="_blank">Reasons</a></li>
          <li><a class="tag__footer" href="https://adalab.es/" target="_blank">Tips</a></li>
        </ul>
      </nav>
      <nav class="footerContent__menu">
        <ul>
          <li><a class="tag__footer" href="https://adalab.es/" target="_blank">Twitter</a></li>
          <li><a class="tag__footer" href="https://adalab.es/" target="_blank">Instagram</a></li>
          <li>
            <a class="tag__footer" href="https://adalab.es/" target="_blank">Mastodon.social</a>
          </li>
        </ul>
      </nav>
      <span class="footerContent__text">
        <p>©2023</p>
        <p>we <span class="heart">❤︎</span> components</p>
      </span>
    </div>
  </div>
</footer>
