<footer class="footer">
  <div class="columnaCentral">
    <div class="footer__ball">
      <img
        class="footer__arrow"
        src="./assets/images/ico-arrow.svg"
        alt="Flecha para volver a inicio"
      />
    </div>
    <div class="footer__content">
      <nav class="footer__content--menu">
        <ul>
          <li>Articles</li>
          <li>Books</li>
          <li>Events</li>
          <li>Reasons</li>
          <li>Tips</li>
        </ul>
      </nav>
      <nav class="footer__content--menu">
        <ul>
          <li>Twitter</li>
          <li>Instagram</li>
          <li>Mastodon.social</li>
        </ul>
      </nav>
      <div class="footer__content--text">
        <p>©2017</p>
        <p>we <span class="heart">❤︎</span> components</p>
      </div>
    </div>
  </div>
</footer>
