<footer class="footer">
  <div class="columnaCentral">
    <div class="footer__ball">
      <a class="footerArrowTag" href="#hero">
        <img
          class="footer__arrow"
          src="./assets/images/ico-arrow.svg"
          alt="Flecha para volver a inicio"
        />
      </a>
    </div>
    <div class="footer__content">
      <nav>
        <ul class="footer__content--menu">
          <li><a class="tag__footer" href="https://adalab.es/" target="_blank">Articles</a></li>
          <li><a class="tag__footer" href="https://adalab.es/" target="_blank">Books</a></li>
          <li><a class="tag__footer" href="https://adalab.es/" target="_blank">Events</a></li>
          <li><a class="tag__footer" href="https://adalab.es/" target="_blank">Reasons</a></li>
          <li><a class="tag__footer" href="https://adalab.es/" target="_blank">Tips</a></li>
        </ul>
      </nav>
      <nav class="footer__content--menu">
        <ul>
          <li><a class="tag__footer" href="https://adalab.es/" target="_blank">Twitter</a></li>
          <li><a class="tag__footer" href="https://adalab.es/" target="_blank">Instagram</a></li>
          <li>
            <a class="tag__footer" href="https://adalab.es/" target="_blank">Mastodon.social</a>
          </li>
        </ul>
      </nav>
      <div class="footer__content--text">
        <p>©2017</p>
        <p>we <span class="heart">❤︎</span> components</p>
      </div>
    </div>
  </div>
</footer>
