<section class="section2" id="section2">
  <h2 class="section2__title1">3 Reasons To Purchase</h2>
  <div class="section2__articles">
    <article class="postSection2">
      <h3 class="postSection2__title">Ut sed metus</h3>
      <p class="postSection2__text">Lorem ipsum dolor sit amet, consecteur.</p>
    </article>
    <article class="postSection2">
      <h3 class="postSection2__title">Curabitur ac erat</h3>
      <p class="postSection2__text">Mauris mattis urna quis lorem molestie.</p>
    </article>
    <article class="postSection2">
      <h3 class="postSection2__title">Morbi dictum</h3>
      <p class="postSection2__text">Aliquam in dolor et dolor tincidunt.</p>
    </article>
  </div>
  <div class="section2__button">
    <a class="text2" href="https://adalab.es/" target="_blank">
      <p class="textButton2">More reasons</p>
    </a>
  </div>
</section>
