.columnaCentral {
    margin: 0 $measure1;

    /*tablet*/
    @media screen and (min-width: $tablet) {
        margin: 0 39px;
    }

    /*desktop*/
    @media screen and (min-width: $desktop) {
        margin: 0 275px;
    }
}