$fontPpal: 'Roboto Slab', serif;
$fontSec: 'Roboto', sans-serif;
$colorText1: #ffffff;
$colorButton_Heart: #f26002;
$defaultFontSize: 16;
$measure1: 15px;
$measure2: 30px;
$measure3: 45px;
$measure4: 60px;
$mobile: 320px;
$tablet: 768px;
$desktop: 1280px;

