$fontPpal: 'Roboto Slab', serif;
$fontSec: 'Roboto', sans-serif;
$colorText1: #ffffff;
$colorText2: #000000;
$colorButton_Heart: #f26002;
$measure1: 15px;
$measure2: 30px;
$measure3: 45px;
$measure4: 60px;

