.hero {
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    /*height: 100vh; CONSULTAR*/
    height: 568px;
    @media screen and (min-width: $tablet) {
        height: $tablet;
    }
}
.columnaCentral {
    display: flex;
    flex-flow: column;
    height: 50%;
    align-items: center;
    & .hero__title {
        color: $colorText1;
        font-family: $fontPpal;
        text-transform: uppercase;
        font-size: rem(42);
        width: min-content;
        text-align: center;
        line-height: 1.31;
        @media screen and (min-width: $tablet) {
            font-size: rem(80);
        }
        @media screen and (min-width: $desktop) {
            font-size: rem(100);
        }
    }
    & .hero__text {
        color: $colorText1;
        font-family: $fontSec;
        font-weight: normal;
        font-size: rem(16);
        margin-top: 10px;
        margin-bottom: $measure3;
        @media screen and (min-width: $tablet) {
            font-size: rem(24);
            margin-top: 20px;
            margin-bottom: $measure2;
        }
        @media screen and (min-width: $desktop) {
            margin-top: 0;
        }
    }
    & .hero__ball {
        height: $measure3;
        width: $measure3;
        background-color: $colorText1;
        border-radius: 50%;
        &--tag {
            display: block;
        }
        &--arrow {
            margin: 18px 12px 15.3px 13px;
        }
    }
}
