.hero {
    background-image: url('../images/cover.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.columnaCentral {
    display: flex;
    flex-flow: column;
    height: 50%;
    align-items: center;

    & .hero__title {
        color: $colorText1;
        font-family: $fontPpal;
        text-transform: uppercase;
        /*usé una calculadora de px to vw para intentar hacer el texto responsive*/
        font-size: 13.125vw;
        width: min-content;
        max-width: 690px;
        text-align: center;
        line-height: 1.31;
        /*TABLET*/
        @media screen and (min-width: 768px) {
            font-size: 10.417vw;
        }
        /*DESKTOP*/
        /*Puse min-width: 950px para que no desborde el texto su contenedor. La pantalla Desktop es de 1280px*/
        @media screen and (min-width: 950px) {
            font-size: 100px;
            max-width: 730px;
        }
    }
    & .hero__text {
        color: $colorText1;
        font-family: $fontSec;
        font-weight: normal;
        font-size: 1rem;
        /*margin-top: 10px;
        margin-bottom: 45px;*/
    }
    & .hero__ball {
        height: 45px;
        width: 45px;
        background-color: $colorText1;
        border-radius: 50%;
        & .heroArrowTag {
            display: block;
        }
        & .hero__arrow {
            margin: 18px 12px 15.3px 13px;
        }
    }
}
