.section2 {
    background-color: #eff9ff;
    padding: $measure2 0 $measure4;
    text-align: center;
    &__title {
        font-family: $fontPpal;
        font-size: 1.5rem;
        font-weight: 800;
        line-height: 1.25;
        margin-bottom: $measure3;
    }
    &__articles {
        display: inline-grid;
        grid-template-rows: repeat(3, 1fr);
        grid-gap: $measure3;
        & .postSection2__title {
            font-family: $fontPpal;
            font-size: 1.125rem;
            font-weight: 800;
            line-height: 1.67;
        }
        & .postSection2__text {
            font-family: $fontSec;
            font-size: 1.125rem;
            font-weight: 400;
            line-height: 1.67;
            width: 180px;
        }
    }
    &__button {
        width: 184px;
        height: $measure3;
        background-color:$colorButton_Heart;
        border-radius: 22.5px;
        margin: $measure3 auto 0;
        display: grid;
        & .text2 {
            text-decoration: none;
        }
        & .textButton2 {
            margin: auto;
            font-family: $fontSec;
            font-size: 1.25rem;
            font-weight: 500;
            color: $colorText1;
            line-height: 2.25;
        }
        & .text2:hover {
            & .textButton2 {
                color: #304268;
            }
        }
    }
        @media screen and (min-width: 768px) {
            &__articles {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 1fr;
                grid-gap: 26.2px;
            }
        }
}
