.section1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: $measure2;
    margin-bottom: $measure3;
    @media screen and (min-width: $tablet) {
        margin-bottom: $measure4;
    }
    @media screen and (min-width: $desktop) {
        margin-top: $measure4;
    }
    &__littleText {
        font-family: $fontSec;
        color: #8ccbea;
        font-size: rem(14);
        font-weight: 500;
        line-height: 2.14;
        @media screen and (min-width: $desktop) {
            font-size: rem(16);
            line-height: 1.88;
        }
    }
    &__title {
        font-family: $fontPpal;
        font-size: rem(24);
        font-weight: 800;
        line-height: 1.25;
        display: inline-flex;
        flex-wrap: wrap;
        margin: 1px 0 $measure1;
        @media screen and (min-width: $tablet) {
            font-size: rem(26);
            line-height: 1.73;
        }
        @media screen and (min-width: $desktop) {
            font-size: rem(32);
            line-height: 1.41;
        }
    }
    &__text {
        font-family: $fontSec;
        font-size: rem(18);
        font-weight: 500;
        line-height: 1.67;
        color: #5f5e5e;
        @media screen and (min-width: $tablet) {
        font-size: rem(20);
        line-height: 1.5;
        }
    }
    &__button {
        border: 2px solid $colorButton_Heart;
        border-radius: 22.5px;
        height: $measure3;
        width: 76px;
        display: flex;
        margin-top: $measure2;
        @media screen and (min-width: $tablet) {
            width: 91px;
        }
        @media screen and (min-width: $desktop) {
            width: 160px;
        }
        & .text {
            text-decoration: none;
            height: 100%;
            width: 100%;
            border-radius: 22.5px;
            display: flex;
            & .textButton {
                display: inline;
                margin: auto;
                font-family: $fontSec;
                font-size: rem(20);
                font-weight: 500;
                color: $colorButton_Heart;
            }  
            &:hover {
                .textButton {
                    color: #304268;
                }
            }
        }
    }
}
